body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
section{
    height: 500px;
}
                                    /*top section css start*/
.top-banner{
    background-image: url(asset/img/top-banner.png);
    background-repeat:no-repeat;
}
.top-content{
    float: left;
    margin: 13px 80px;
}
h1 {
    font-size: 35px;
}
h1 span{
    color: #FFA40F;
}
a.btn {
    padding: 8px 22px;
    background: #f4673e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
a.btn:hover{
    background: #e84212;
}
.profile img {
    width: 31vw;
    margin-left: 235px;
}
                                
                                /*top section css end*/

                                /*second sec css start*/
.dream-section{
    background-image: url(asset/img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.leftImg {
    float: left;
}
.leftImg img {
    width: 36vw;
    margin-left: 80px;
}
.rightContent {
    padding-top: 20px;
}

                                /*second sec css end*/