body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
section{
    height: 500px;
}
.top-banner{
    background-image: url(asset/img/top-banner.png);
    background-repeat:no-repeat;
}
.top-content{
    float: left;
    margin: 13px 80px;
}
h1 {
    font-size: 35px;
}
h1 span{
    color: #FFA40F;
}
button.btn {
    padding: 8px 22px;
    background: #ff764e;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.profile img {
    width: 35vw;
    margin-left: 120px;
}
